<div class="container" style="margin-left:400px;margin-top:100px">
            <h2>Information System</h2>
            <div class="panel panel-default" style="width:500px;">
                <div class="panel-body">
                    <form (ngSubmit)="submitt();infoform.reset()" class="form-horizontal" #infoform="ngForm">
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="dob">Date Of Birth:</label>
                            <div class="col-sm-8">
                                <input [(ngModel)]="model.dob" #dob="ngModel" type="date" class="form-control" id="dob" name="dob" placeholder="date of birth" required>
                                <div *ngIf="dob.errors && (dob.dirty || dob.touched)" class="alert alert-danger">
                                    <small [hidden]="!dob.errors.required">
                                        dob is required
                                    </small>
                                </div>
                            </div>
                        </div>
                        
                        
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="gender">Gender:</label>
                            <div class="col-sm-8 radio">
                                <label><input [(ngModel)]="model.gender" #gender="ngModel" type="radio"  id="gender" name="gender" value="Male" placeholder="Gender" required>Male</label>
                                &ensp;&ensp;&ensp;
                                <label><input [(ngModel)]="model.gender" #gender="ngModel" type="radio"  id="gender" name="gender" value="Female" placeholder="Gender" required>Female</label>
                                <div *ngIf="gender.errors && (gender.dirty || gender.touched)" class="alert alert-danger">
                                    <small [hidden]="!gender.errors.required">
                                        Gender is required
                                    </small>
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="salary">Salary:</label>
                            <div class="col-sm-8">
                                <input [(ngModel)]="model.salary" #salary="ngModel" type="number" class="form-control" id="salary" name="salary" placeholder="salary" required minlength="1" maxlength="8">
                                <div *ngIf="salary.errors && (salary.dirty || salary.touched)" class="alert alert-danger">
                                    <small [hidden]="!salary.errors.required">
                                        Salary is required
                                    </small>
                                    <small [hidden]="!salary.errors.minlength">
                        Please enter a valid salary !
                    </small>
                    <small [hidden]="!salary.errors.maxlength">
                        Please enter a valid salary !
                    </small>
                                </div>
                            </div>
                        </div>

                        <div class="form-group"> 
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary pull-right" [disabled]="!infoform.form.valid">Calculate</button>
                            </div>
                        </div>
                        
                        
                        
                        <div *ngIf="showpremiumerr" class="form-group">
                            <hr>
                            <label class="control-label col-sm-4" for="dobb">DOB : {{dateob}}</label>
                            <label class="control-label col-sm-4" for="gen">Gender : {{gen}}</label>
                            <label class="control-label col-sm-4" for="sal">Salary : {{sal}}</label>
                        </div>
                        
                        <div *ngIf="showpremiumerr" class="alert alert-danger">
                            <small> Invalid age. age should be less than 66 or greater than 17 !</small>
                        </div>
                        
                        <div *ngIf="showpremium" class="form-group">
                            <hr>
                            <label class="control-label col-sm-4" for="dobb">DOB : {{dateob}}</label>
                            <label class="control-label col-sm-4" for="gen">Gender : {{gen}}</label>
                            <label class="control-label col-sm-4" for="sal">Salary : {{sal}}</label>
                        </div>
                        
                        <div *ngIf="showpremium" class="form-group">
                            <label class="control-label col-sm-4" for="prem">Premium Per Year:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="prem" name="prem" placeholder="Premium" value="{{values}}" disabled>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
    
        </div>

 <div *ngIf="showpremium" class="container">
     <div class="panel panel-default">
                <div class="panel-body">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                <th>Annuity Benefit</th>
                                <td>Rs. {{row1}} paid monthly for a period of 3 years on the demise of the member</td>
                                </tr>
                                <tr>
                                <th>Death Benefit</th>
                                <td>Rs. {{row2}} paid on the demise of the member</td>
                                </tr>
                                <tr>
                                <th>Accidental Death Benefit</th>
                                <td>Rs. {{row3}} paid death of Policyholder if death is an accident</td>
                                </tr>
                                <tr>
                                <th>Total and Permanent Disability</th>
                                <td>Rs. {{row4}} paid if policyholder has a Total and Permenent Disability</td>
                                </tr>
                                <tr>
                                <th>Partial and Permanent Disability</th>
                                <td>Rs. {{row5}} paid if policyholder has a Partical and Permenent Disability</td>
                                </tr>
                                <tr>
                                <th>Critical Illness</th>
                                <td>Rs. {{row6}} paid on event of a critical illness</td>
                                </tr>
                                <tr>
                                <th>Hospitalization Benefit</th>
                                <td>Rs. {{row7}} per day hospitalization benefit</td>
                                </tr>
                                <tr>
                                <th>Funeral Expenses</th>
                                <td>Rs. {{row8}} paid death of Policyholder if death for funeral expenses</td>
                                
                            </tbody>
                        </table>
         </div>
     </div>
                    </div>


